<div class="phm_row hasteck_row phm_row-fluid brands parvez_custom_3">
    <div class="row-container">
        <div class="parvez_column parvez_column_container parvez_col-sm-12">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element">
                    <div class="parvez_wrapper">
                        <h3>THƯƠNG HIỆU</h3>
                    </div>
                </div>
                <div id="brands-carousel-4" class="brands-carousel">
                    <div>
                        <a href="/san-pham?s=ti%E1%BA%BFt+ki%E1%BB%87m" title=""><img src="~/Content/images/furniture/brand/brand-logo.png" alt="" /></a>
                    </div>
                    <div>
                        <a href="/san-pham?s=white" title=""><img src="~/Content/images/furniture/brand/brand-logo.png" alt="" /></a>
                    </div>
                    <div>
                        <a href="/san-pham?s=white" title=""><img src="~/Content/images/furniture/brand/brand-logo.png" alt="" /></a>
                    </div>
                    <div>
                        <a href="/san-pham?s=ti%E1%BA%BFt+ki%E1%BB%87m" title=""><img src="~/Content/images/furniture/brand/brand-logo.png" alt="" /></a>
                    </div>
                    <div>
                        <a href="/san-pham?s=ti%E1%BA%BFt+ki%E1%BB%87m" title=""><img src="~/Content/images/furniture/brand/brand-logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
