@model IEnumerable<epsi.Models.Product>
<div class="phm_row hasteck_row phm_row-fluid featured parvez_custom_1">
    <div class="row-container">
        <div class="parvez_column parvez_column_container parvez_col-sm-12">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element parvez_custom_2">
                    <div class="parvez_wrapper">
                        <h3>SẢN PHẨM NỔI BẬT</h3>
                    </div>
                </div>
                <div class="bootexpert columns-4">
                    <div class="shop-products row grid-view product-list-4">
                         @foreach (var item in Model)
                         {
                            @Html.Partial("_ProductItem", item)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
