<div class="phm_row hasteck_row phm_row-fluid featured parvez_custom_1">
    <div class="row-container">
        <div class="parvez_column parvez_column_container parvez_col-sm-12">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element parvez_custom_2">
                    <div class="parvez_wrapper">
                        <h3>SẢN PHẨM NỔI BẬT</h3>
                    </div>
                </div>
                <div class="bootexpert columns-4">
                    <div class="shop-products row grid-view">
                        <div class="first item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Ornare sed consequat">
                                            <img src="~/Content/images/furniture/product/si.jpg" class="primary_image" alt="1" />
											<img src="~/Content/images/furniture/product/si.jpg" class="secondary_image" alt="3" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Ornare sed consequat</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Vivamus blandit">
                                            <img src="~/Content/images/furniture/product/si3.jpg" class="primary_image" alt="7" />
											<img src="~/Content/images/furniture/product/si3.jpg" class="secondary_image" alt="6" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Vivamus blandit</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Aenean eu tristique">
                                            <img src="~/Content/images/furniture/product/si2.jpg" class="primary_image" alt="10" />
											<img src="~/Content/images/furniture/product/si2.jpg" class="secondary_image" alt="13" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Aenean eu tristique</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="last item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Buscipit at magna">
                                            <img src="~/Content/images/furniture/product/p14.jpg" class="primary_image" alt="17" />
											<img src="~/Content/images/furniture/product/p14.jpg" class="secondary_image" alt="15" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Buscipit at magna</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="first item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Aliquam lobortis est">
                                            <img src="~/Content/images/furniture/product/p10.jpg" class="primary_image" alt="15" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>

                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Aliquam lobortis est</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Vulputate justo">
                                            <img src="~/Content/images/furniture/product/p11.jpg" class="primary_image" alt="4" />
											<img src="~/Content/images/furniture/product/p11.jpg" class="secondary_image" alt="2" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Vulputate justo</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Pellentesque posuere">
                                            <img src="~/Content/images/furniture/product/p9.jpg" class="primary_image" alt="9" />
											<img src="~/Content/images/furniture/product/p9.jpg" class="secondary_image" alt="11" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Pellentesque posuere</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="last item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Phasellus vel hendrerit">
                                            <img src="~/Content/images/furniture/product/p8.jpg" class="primary_image" alt="12" />
											<img src="~/Content/images/furniture/product/p8.jpg" class="secondary_image" alt="17" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>

                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Phasellus vel hendrerit</a></h2>
                                        <div class="price-box"><span class="amount">1.350.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="#" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
