@model IEnumerable<epsi.Models.Article>
<div class="phm_row hasteck_row phm_row-fluid latest-posts">
    <div class="row-container">
        <div class="parvez_column parvez_column_container parvez_col-sm-12">
            <div class="parvez_wrapper">
                <div id="posts-carousel-2" class="posts-carousel">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("_BlogItem", item)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
