@model IEnumerable<epsi.Models.Product>
<div class="phm_row hasteck_row phm_row-fluid products-carousel2">
    <div class="row-container">
        <div class="parvez_column parvez_column_container parvez_col-sm-12">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element ">
                    <div class="parvez_wrapper">
                        <h3>SẢN PHẨM MỚI</h3>
                    </div>
                </div>
                <div class="bootexpert columns-4">
                    <div id="shop-products-4-1" class="shop-products row grid-view">
                        @foreach (var item in Model)
                        {
                            @Html.Partial("_ProductItem", item)
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
