<div class="phm_row hasteck_row phm_row-fluid home-banner">
    <div class="row-container">
        <div class="parvez_column parvez_col-sm-4 col-sm-4 col-xs-12 col-md-4">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element ">
                    <div class="parvez_wrapper">
                        <p>
                            <a href="/san-pham?s=ti%E1%BA%BFt+ki%E1%BB%87m"><img class="alignnone" src="~/Content/images/furniture/banner/banner-home4.jpg" alt="banner-home4" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parvez_column parvez_col-sm-4 col-sm-4 col-xs-12 col-md-4">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element ">
                    <div class="parvez_wrapper">
                        <p>
                            <a href="/san-pham?s=white"><img class="alignnone" src="~/Content/images/furniture/banner/banner-home3.jpg" alt="banner-home3" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parvez_column parvez_col-sm-4 col-sm-4 col-xs-12 col-md-4">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element ">
                    <div class="parvez_wrapper">
                        <p>
                            <a href="/san-pham?s=warm"><img class="alignnone" src="~/Content/images/furniture/banner/banner-home2.jpg" alt="banner-home2" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
