@{
    ViewBag.Title = "About";
}
<header class="entry-header">
    <div class="container">
        <h1 class="entry-title">Gioi thieu</h1>
    </div>
</header>
<div class="page-content">
    <div class="container">
        Noi dung gioi thieu
    </div>
</div>

