@{
    ViewBag.Title = "Trang chủ";
}

<div class="page-content front-page">
    <article>
        <div class="entry-content">
            @{Html.RenderAction("slider", "Home");}
            @{Html.RenderPartial("_productbycategory");}
            @{Html.RenderAction("FeaturedProduct", "Home");}
            @{Html.RenderPartial("_branch");}
            @{Html.RenderAction("NewProduct", "Home");}
            @{Html.RenderAction("LatestNew", "Home");}
        </div>
    </article>
</div>
