<div class="footer furniture2">
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-inner">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget widget_contact_us">
                            <h3 class="widget-title">Contact Us</h3>
                            <ul>
                                <li>Floor: 4, House: 15, Block: C</li>
                                <li>Banashree, Rampura, Dhaka.</li>
                                <li>Fax: ( +800) 123 456 789</li>
                                <li>Phone: +880 1973 833508</li>
                                <li>Email: support@bootexperts.com</li>
                            </ul>
                        </div>
                        <div class="widget widget_social">
                            <ul class="social-icons">
                                <li><a class="facebook social-icon" href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter social-icon" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="tumblr social-icon" href="https://www.tumblr.com/" title="Tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                <li><a class="google-plus social-icon" href="https://plus.google.com/" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="dribbble social-icon" href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget widget_twitter">
                            <h3 class="widget-title">Twitter title</h3>
							<div class='rotatingtweets rotatingtweets_format_0' id='rotatingtweets_4000_scrollUp_1000_5635ca157543f' data-cycle-auto-height="calc" data-cycle-fx="scrollUp" data-cycle-pause-on-hover="true" data-cycle-timeout="4000" data-cycle-speed="1000" data-cycle-easing="swing"
							data-cycle-slides="div.rotatingtweet" data-cycle-log="false">
								<div class='rotatingtweet'>
									<p class="rtw_main">Do you need a theme for your big store? Look at our Sozo theme here <a href="" title="" class="rtw_url_link">themeforest.net&hellip;</a> 
										<a href="" title="" class="rtw_media_link">twitter.com</a>
									</p>
									<p class="rtw_main">
										<a href="">About a week ago</a> from <a href="">Kevin Sobo's Twitter</a> via <a href="">Twitter Web Client</a>
									</p>
								</div>
								<div class='rotatingtweet' style='display:none'>
									<p class="rtw_main">New great theme for your all stores 
										<a href="" class="rtw_url_link">themeforest.net/item/saharan-&hellip;</a>
									</p>
									<p class="rtw_main">
										<a href="">About 2 weeks ago</a> from <a href="" title="Kevin Sobo">Kevin Sobo's Twitter</a> via <a href="">Twitter Web Client</a>
									</p>
								</div>
								<div class='rotatingtweet' style='display:none'>
									<p class="rtw_main">
										<a href="" title="#OneDrive" class="rtw_hashtag_link">#OneDrive</a> is here! It's the one place for everything in your life. Sign up and get 15 GB free. <a href=""
										title="" class="rtw_url_link">onedrive.live.com&hellip;</a>
									</p>
									<p class="rtw_main">
										<a href="">About 2 weeks ago</a> from <a href="" title='Kevin Sobo'>Kevin Sobo's Twitter</a> via <a href="">Twitter Web Client</a>
									</p>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
						<div class="widget widget_time_work">
							<h3 class="widget-title"><span>opening time</span></h3>
							<ul>
								<li class="first"><span class="day">Monday - Friday</span><span class="time">8.00 - 18.00</span></li>
								<li><span class="day">Saturday</span><span class="time">9.00 - 21.00</span></li>
								<li class="last"><span class="day">Sunday</span><span class="time">10.00 - 21.00</span></li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-inner">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Our services</h3>
                            <div class="menu-our-services-container">
                                <ul id="menu-our-services" class="nav_menu">
                                    <li class="first"><a href="#">Shipping &#038; Returns</a></li>
                                    <li><a href="#">Secure Shopping</a></li>
                                    <li><a href="#">International Shipping</a></li>
                                    <li class="last"><a href="#">Affiliates</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Infomation</h3>
                            <div class="menu-infomation-container">
                                <ul id="menu-infomation" class="nav_menu">
                                    <li class="first"><a href="#">Our Blog</a></li>
                                    <li><a href="#">About Our Shop</a></li>
                                    <li><a href="#">Secure Shopping</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li class="last"><a href="#">Delivery infomation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Customer care</h3>
                            <div class="menu-customer-care-container">
                                <ul id="menu-customer-care" class="nav_menu">
                                    <li class="first"><a href="#">Sitemap</a></li>
                                    <li><a href="#">Term &#038; Conditions</a></li>
                                    <li><a href="#">Gift Vouchers</a></li>
                                    <li class="last"><a href="#">BestSellers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget widget_wysija">
                            <h2 class="widgettitle">Newsletter</h2>
                            <div class="widget_wysija_cont">
                                <form id="form-newsletter1" method="post" action="#wysija" class="widget_wysija">
                                    <p class="wysija-paragraph">
                                        <input type="text" name="email" class="wysija-input" title="Email" placeholder="Email" value="" />
                                    </p>
                                    <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright-info">
                    Copyright <a href="http://bootexperts.com/">Bootexperts.</a> 2015. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>