<div class="footer furniture2">
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-inner">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget widget_contact_us">
                            <h3 class="widget-title">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ PHÁT TRIỂN EPSI</h3>
                            <ul>
                                <li>44 - 46 Đường Số 12, Biệt Thự Ven Sông, P.Tân Phong, Q.7, TP.HCM</li>
                                <li>Office & Showroom: 53 Nguyễn Trãi, P.2, Q.5, HCMC</li>
                                <li>Fax: 08.3924.0907</li>
                                <li>Phone: 08.3836 2260</li>
                                <li>Email: info@epsi.vn</li>
                                <li>Website: www.epsi.com.vn - www.epsi.vn</li>
                            </ul>
                        </div>
                        <div class="widget widget_social">
                            <ul class="social-icons">
                                <li><a class="facebook social-icon" href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter social-icon" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="tumblr social-icon" href="https://www.tumblr.com/" title="Tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                <li><a class="google-plus social-icon" href="https://plus.google.com/" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="dribbble social-icon" href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="widget widget_twitter">
                            <h3 class="widget-title">Ý kiến khách hàng</h3>
                            <div class='rotatingtweets rotatingtweets_format_0' id='rotatingtweets_4000_scrollUp_1000_5635ca157543f' data-cycle-auto-height="calc" data-cycle-fx="scrollUp" data-cycle-pause-on-hover="true" data-cycle-timeout="4000" data-cycle-speed="1000" data-cycle-easing="swing"
                            data-cycle-slides="div.rotatingtweet" data-cycle-log="false">
                                <div class='rotatingtweet'>
                                    <p class="rtw_main">Do you need a theme for your big store? Look at our Sozo theme here <a href="" title="" class="rtw_url_link">themeforest.net&hellip;</a> 
                                        <a href="" title="" class="rtw_media_link">twitter.com</a>
                                    </p>
                                    <p class="rtw_main">
                                        <a href="">About a week ago</a> from <a href="">Kevin Sobo's Twitter</a> via <a href="">Twitter Web Client</a>
                                    </p>
                                </div>
                                <div class='rotatingtweet' style='display:none'>
                                    <p class="rtw_main">New great theme for your all stores 
                                        <a href="" class="rtw_url_link">themeforest.net/item/saharan-&hellip;</a>
                                    </p>
                                    <p class="rtw_main">
                                        <a href="">About 2 weeks ago</a> from <a href="" title="Kevin Sobo">Kevin Sobo's Twitter</a> via <a href="">Twitter Web Client</a>
                                    </p>
                                </div>
                                <div class='rotatingtweet' style='display:none'>
                                    <p class="rtw_main">
                                        <a href="" title="#OneDrive" class="rtw_hashtag_link">#OneDrive</a> is here! It's the one place for everything in your life. Sign up and get 15 GB free. <a href=""
                                        title="" class="rtw_url_link">onedrive.live.com&hellip;</a>
                                    </p>
                                    <p class="rtw_main">
                                        <a href="">About 2 weeks ago</a> from <a href="" title='Kevin Sobo'>Kevin Sobo's Twitter</a> via <a href="">Twitter Web Client</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright-info">
                    Copyright <a href="http://bootexperts.com/">Bootexperts.</a> 2015. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>