<div class="footer layout3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Hỗ trợ</h3>
                            <div class="menu-infomation-container">
                                <ul id="menu-infomation" class="nav_menu">
                                    <li><a href="#">Tiêu chí bán hàng</a></li>
                                    <li><a href="#">Điều khoản &amp; điều kiện</a></li>
                                    <li><a href="#">Phương thức mua hàng &amp; thanh toán</a></li>
                                    <li><a href="#">Chính sách vận chuyển &amp; giao hàng</a></li>
                                    <li><a href="#">Bảo trì - Bảo hành - Đổi trả</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Thông Tin Thêm</h3>
                            <div class="menu-our-services-container">
                                <ul id="menu-our-services" class="nav_menu">
                                    <li><a href="#">Cẩm Nang Chiếu Sáng</a></li>
                                    <li><a href="#">Lời khuyên hữu ích</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5">
                <div class="widget widget_contact_us">
                    <h3 class="widget-title">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ PHÁT TRIỂN EPSI</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i>
                            <strong>44 - 46 Đường Số 12, Biệt Thự Ven Sông, P.Tân Phong, Q.7, TP.HCM</strong>
                        </li>
                        <li><i class="fa fa-map-marker"></i>
                            <strong>Office &amp; Showroom: 53 Nguyễn Trãi, P.2, Q.5, HCMC</strong>
                        </li>
                        <li><i class="fa fa-mobile"></i>
                            <strong><a href="tel:+840838362260">08 3836 2260</a> - <a href="tel:+840838362532">3836 2532</a></strong>
                        </li>
                        <li><i class="fa fa-envelope-o"></i>
                            <strong><a href="mailto:info@epsi.vn">info@epsi.vn</a></strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright-info">
                    Copyright &copy; <a href="http://epsi.vn">EPSI</a> 2017. All rights reserved
                </div>
            </div>
        </div>
    </div>
</div>