<!-- <div class="footer furniture2">
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-inner">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget widget_contact_us">
                            <h3 class="widget-title">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ PHÁT TRIỂN EPSI</h3>
                            <ul>
                                <li>44 - 46 Đường Số 12, Biệt Thự Ven Sông, P.Tân Phong, Q.7, TP.HCM</li>
                                <li>Office & Showroom: 53 Nguyễn Trãi, P.2, Q.5, HCMC</li>
                                <li>Fax: 08.3924.0907</li>
                                <li>Phone: 08.3836 2260</li>
                                <li>Email: info@epsi.vn</li>
                                <li>Website: www.epsi.com.vn - www.epsi.vn</li>
                            </ul>
                        </div>
                        <div class="widget widget_social">
                            <ul class="social-icons">
                                <li><a class="facebook social-icon" href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter social-icon" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="tumblr social-icon" href="https://www.tumblr.com/" title="Tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                <li><a class="google-plus social-icon" href="https://plus.google.com/" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="dribbble social-icon" href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="widget widget_twitter">
                            <h3 class="widget-title">Ý kiến khách hàng</h3>
                            <div class='rotatingtweets rotatingtweets_format_0' id='rotatingtweets_4000_scrollUp_1000_5635ca157543f' data-cycle-auto-height="calc" data-cycle-fx="scrollUp" data-cycle-pause-on-hover="true" data-cycle-timeout="4000" data-cycle-speed="1000" data-cycle-easing="swing"
                            data-cycle-slides="div.rotatingtweet" data-cycle-log="false">
                                <div class='rotatingtweet'>
                                    <div class="rtw_main">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="rtw_main">
                                        <i>Ông: Nguyễn Văn A - 0909999999</i>
                                    </div>
                                </div>
                                <div class='rotatingtweet' style='display:none'>
                                    <div class="rtw_main">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="rtw_main">
                                        <i>Bà: Hồ Thị C - 0978945376</i>
                                    </div>
                                </div>
                                <div class='rotatingtweet' style='display:none'>
                                    <div class="rtw_main">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="rtw_main">
                                        <i>Bà: Lê C - 0978945990</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright-info">
                    Copyright <a href="http://bootexperts.com/">Bootexperts.</a> 2015. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="footer layout3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Infomation</h3>
                            <div class="menu-infomation-container">
                                <ul id="menu-infomation" class="nav_menu">
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="#">About Our Shop</a></li>
                                    <li><a href="#">Secure Shopping</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Delivery infomation</a></li>
                                    <li><a href="#">Advanced Search</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Our services</h3>
                            <div class="menu-our-services-container">
                                <ul id="menu-our-services" class="nav_menu">
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Shipping &#038; Returns</a></li>
                                    <li><a href="#">Secure Shopping</a></li>
                                    <li><a href="#">International Shipping</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">our support</h3>
                            <div class="menu-our-support-container">
                                <ul id="menu-our-support" class="nav_menu">
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="">Contact</a></li>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="sample.html">Sample Page</a></li>
                                    <li><a href="#">my address</a></li>
                                    <li><a href="#">My credit slips</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-info">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Copyright &copy; 2015 <a href="http://bootexperts.com/">Bootexperts.</a> All Rights Reserved</div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="widget widget_contact_us">
                    <h3 class="widget-title">Contact Us</h3>
                    <ul>
                        <li><i class="fa  fa-map-marker"></i>
                            <strong>Floor: 4, House: 15, Block: C, Banashree, Rampura, Dhaka.</strong>
                        </li>
                        <li><i class="fa   fa-mobile"></i>
                            <strong>+880 1973 833508 <br>+880 1973 833508</strong>
                        </li>
                        <li><i class="fa  fa-envelope-o"></i>
                            <strong>admin@bootexperts.com<br>support@bootexperts.com</strong>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_social">
                    <h3 class="widget-title">Follow</h3>
                    <ul class="social-icons">
                        <li><a class="facebook social-icon" href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter social-icon" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="tumblr social-icon" href="https://www.tumblr.com/" title="Tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                        <li><a class="google-plus social-icon" href="https://plus.google.com/" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="dribbble social-icon" href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>