<div class="header-container furniture2 skin2">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-inner clearfix">
                <div class="top-menu-left">
                    <ul>
                        <li><a href="#">Dự án: 0907790971</a></li>
                        <li><a href="#">Phân phối: 0902820235</a></li>
                    </ul>
                </div>
                <div class="top-menu-right">
                    <ul>
                        <li><a href="#">Đăng ký</a></li>
                        <li><a href="#">Đăng nhập</a></li>
                    </ul>
<!--                     <ul>
                        <li><a href="#">admin@epsi.vn</a></li>
                        <li><a href="#" class="logout">Đăng xuất</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="logo">
                            <a href="#" title="EPSI" rel="home"><img src="~/Content/images/logo/epsi.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9">
                        <div class="search-and-cart-area">
                            <div class="widget_shopping_cart">
                                <a class="button cart-toggler" href="#">
                                    <span class="mini-cart-link">
                                        <span class="fa fa-shopping-cart"></span>
                                        Giỏ hàng: <span class="cart-quantity">(2)</span>
                                    </span>
                                </a>
                                <div class="widget_shopping_cart_content">
                                    <div class="mini_cart_content">
                                        <div class="mini_cart_inner">
                                            <ul class="cart_list">
                                                <li>
                                                    <a href="#" class="product-image">
                                                        <img alt="1" class="attachment-shop_thumbnail" src="/Content/images/furniture/product/1-185x185.jpg">
                                                        <span class="quantity">1</span>
                                                    </a>
                                                    <div class="product-details">
                                                        <a title="Remove this item" class="remove" href=""><i class="fa fa-times-circle"></i></a>
                                                        <a href="" class="product-name">Đèn thả QPG304 (cam)</a>
                                                        <span class="quantity"><span class="amount">1.472.101 VNĐ</span></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#" class="product-image">
                                                        <img alt="1" class="attachment-shop_thumbnail" src="~/Content/images/furniture/product/1-185x185.jpg">
                                                        <span class="quantity">1</span>
                                                    </a>
                                                    <div class="product-details">
                                                        <a title="Remove this item" class="remove" href=""><i class="fa fa-times-circle"></i></a>
                                                        <a href="" class="product-name">Đèn Trẻ Em</a>
                                                        <span class="quantity"><span class="amount">933.000 VNĐ</span></span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <p class="total">Tổng: <span class="amount">2.405.101 VNĐ</span></p>
                                            <p class="buttons">
                                                <a class="button checkout wc-forward" href="#">Thanh toán</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-area">
                                <form action="#" id="searchform" class="search-form">
                                    <input type="text" class="search" value="" name="s" id="ws" placeholder="Tìm kiếm sản phẩm ..."">
                                    <button class="button btn-search" type="submit" id="wsearchsubmit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        @{Html.RenderPartial("_menu");}
        <!-- End Menu -->
    </div>
    <div class="clearfix"></div>
</div>