<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="profile-element"> 
                    <span>
                        <img alt="image" class="img-circle" src="~/Content/images/profile_small.jpg" />
                     </span>
                    <a href="#">
                        <span class="clear"> 
                            <span class="block m-t-xs"><strong class="font-bold">System Administrator</strong></span> 
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    EPSI
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cogs"></i> <span class="nav-label">Hệ thống</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Danh mục</a></li>
                    <li><a href="#">Banner</a></li>
                    <li><a href="#">Quicklink</a></li>
                    <li><a href="#">Comment</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-newspaper-o"></i><span class="nav-label">Tin tức</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-shopping-bag"></i> <span class="nav-label">Cửa hàng</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Đơn hàng</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="/Guide/Index">
                    <i class="fa fa-book"></i> <span class="nav-label">Style Guide</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="/Guide/Form">Form</a></li>
                    <li><a href="/Guide/Input">Input & Button</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
