@{
    ViewBag.Title = "Quên mật khẩu";
}
	
<h1 class="page-title">Quên mật khẩu</h1>
<div class="blog-content-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-content blog-page blog-nosidebar">
                    <div class="empty-content">
                        @if (ViewBag.Status == "0")
                        {
                            <h2>Chúng tôi đã gửi tới email link để thay đổi mật khẩu.</h2>
                            <h2>Xin vui lòng kiểm tra email và click vào linh thay đổi mật khẩu.</h2>
                        }
                        else
                        {
                            <h2>Thay đổi mật khẩu không thành công.</h2>
                            <h2>Xin vui lòng kiểm tra địa chỉ email và thử lại.</h2>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
