@{
    ViewBag.Title = "Thay đổi mật khẩu";
}


<h1 class="page-title">Thay đổi mật khẩu</h1>
<div class="blog-content-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-content blog-page blog-nosidebar">
                    <div class="empty-content">
                        @if (ViewBag.Status == "0")
                        {
                            <h2>Bạn đã thay đổi mật khẩu thành công.</h2>
                            <h2>Xin vui lòng đăng nhập trở lại bằng cách click vào nút <b>đăng nhập</b> trên menu.</h2>
                        }
                        else
                        {
                            <h2>Thay đổi mật khẩu không thành công.</h2>
                            <h2>Xin vui lòng nhập lại  email và thử lại.</h2>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
