<aside class="widget">
	<h3 class="widget-title">
		<span>Danh mục sản phẩm <i class="hidden-md hidden-lg fa fa-sort-desc show-category"></i><i class="hidden-md hidden-lg fa fa-sort-asc hide-category"></i></span>
	</h3>
	<div class="widget_content">
		<ul class="product-categories">
			<li>
				<a href="" class="title">Đèn Philips</a>  <span class="count">(20)</span>
				<ul class="children">
					<li><a href="">Đèn chùm</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn thả</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn ốp tường</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn ốp trần</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn phòng tắm</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn ngủ</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn bàn</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn sàn - đèn cây</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn trang trí - đổi màu</a> <span class="count">(2)</span></li>
					<li><a href="">Đèn sân vườn</a> <span class="count">(2)</span></li>
				</ul>
			</li>
			<li>
				<a href="" class="title">Đèn chiếu sáng cơ bản</a>  <span class="count">(37)</span>
				<ul class="children">
					<li><a href="">Đèn downlight</a> <span class="count">(10)</span></li>
					<li><a href="">Đèn chiếu điểm</a> <span class="count">(20)</span></li>
					<li><a href="">Bóng đèn - bộ điện</a> <span class="count">(5)</span></li>
					<li><a href="">Đèn chiếu điểm Philips</a> <span class="count">(2)</span></li>
				</ul>
			</li>
			<li>
				<a href="" class="title">Đèn chiếu sáng chức năng</a>  <span class="count">(14)</span>
				<ul class="children">
					<li><a href="">Đèn pha</a> <span class="count">(4)</span></li>
					<li><a href="">Đèn chiếu cây</a> <span class="count">(8)</span></li>
					<li><a href="">Đèn âm hồ nước</a> <span class="count">(2)</span></li>
				</ul>
			</li>
		</ul>
	</div>
</aside>
