@{
    ViewBag.Title = "Chi tiết sản phẩm";
}
<div class="page-content">
	<div class="product-page">
		<div class="banner-home-content2">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="banner-box banner-box1">
							<h2>Giao hàng toàn quốc</h2>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="banner-box banner-box2">
							<h2>Hàng chính hãng 100%</h2>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="banner-box banner-box3">
							<h2>Giá rẻ nhất</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-view">
			<div class="product">
				<div class="container">
					<div class="row">
						<div id="secondary" class="col-xs-12 col-md-3 sidebar-category">
							@{Html.RenderPartial("_sidebarCategory");}
						</div>
						<div class="col-xs-12 col-md-9 content-box">
<!-- 							<div class="single-product-image">
								<div class="images single-images gallery">
									<a href="~/Content/images/furniture/product/1.jpg" class="bootexpert-main-image zoom" title="image1xxl-59" data-gal="prettyPhoto[gallery1]">
										<img src="~/Content/images/furniture/product/1.jpg" class="attachment-shop_single" alt="image1xxl (59)"
										title="image1xxl (59)" />
									</a>
									<a href="~/Content/images/furniture/product/1.jpg" class="zoom first" title="image1xxl (35)" data-gal="prettyPhoto[gallery1]">
										<img src="~/Content/images/furniture/product/1.jpg" class="attachment-shop_single" alt="image1xxl (35)" />
									</a>
									<a href="~/Content/images/furniture/product/1.jpg" class="zoom" title="image1xxl (38)" data-gal="prettyPhoto[gallery1]">
										<img src="~/Content/images/furniture/product/1.jpg" class="attachment-shop_single" alt="image1xxl (38)" />
									</a>
									<a href="~/Content/images/furniture/product/1.jpg" class="zoom last" title="image1xxl (31)" data-gal="prettyPhoto[gallery1]">
										<img src="~/Content/images/furniture/product/1.jpg" class="attachment-shop_single" alt="image1xxl (31)" />
									</a>
								</div>
								<div class="thumbnails single-thumbnails columns-3">
									<div>
										<img src="~/Content/images/furniture/product/3_6-185x185.jpg" alt="image1xxl (59)" />
									</div>
									<div>
										<img src="~/Content/images/furniture/product/3_6-185x185.jpg" alt="image1xxl (35)" />
									</div>
									<div>
										<img src="~/Content/images/furniture/product/3_6-185x185.jpg" alt="image1xxl (38)" />
									</div>
									<div>
										<img src="~/Content/images/furniture/product/3_6-185x185.jpg" alt="image1xxl (31)" />
									</div>
								</div>
							</div> -->
							
							<!-- Sản phẩm 1 hình -->
                            <div class="single-product-image no-slide">
                                <img src="~/Content/images/furniture/product/1.jpg" class="attachment-shop_single"/>
                            </div>

							<div class="summary entry-summary single-product-info">
								<h2 class="product_title entry-title">Feugiat justo lacinia</h2>
								<div class="product-id">
									<p>Mã sản phẩm: 915000049801</p>
								</div>
								<div class="short-description">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellusmi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
								</div>
								<div class="price-box">
									<p class="price">
										<ins><span class="amount">5.000.000 VNĐ</span></ins>
									</p>
								</div>
								<form class="cart" method="post" enctype='multipart/form-data'>
									<div class="quantity">
										<input type="number" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" />
									</div>
									<button type="submit" class="single_add_to_cart_button add_to_cart_button button alt">Thêm vào giỏ</button>
								</form>
								<div class="clear"></div>
							</div>
							<div class="bootexpert-tabs wc-tabs-wrapper">
								<ul class="tabs parveztabs">
									<li rel="tab-description" class="tab active">
										<a>Thông tin chi tiết</a>
									</li>
									<li rel="tab-addi-info" class="tab">
										<a>Thông số kỹ thuật</a>
									</li>
								</ul>
								<div class="panel active" id="tab-description">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam erat mi, rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis, arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec augue.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam erat mi, rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis, arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec augue.</p>
								</div>
								<div class="panel" id="tab-addi-info">
									<table class="shop_attributes">
										<tbody>
											<tr>
												<th>Màu</th>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
											</tr>
											<tr>
												<th>Chất liệu</th>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
											</tr>
											<tr>
												<th>Bóng & công suất</th>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
											</tr>
											<tr>
												<th>Kích thước</th>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
											</tr>
											<tr>
												<th>Tính năng khác</th>
												<td>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor</p>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor</p>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
