@{
    ViewBag.Title = "Sản phẩm";
}
<div class="blog_header">Sản phẩm</div>
<div class="page-content">
	<div class="shop_content">
		<div class="container">
			<div class="row">
				<div id="secondary" class="col-xs-12 col-md-3 sidebar-category">
					<aside class="widget">
						<h3 class="widget-title"><span>Categories</span></h3>
						<div class="widget_content">
							<ul class="product-categories">
								<li><a href="">Accessories</a>  <span class="count">(18)</span></li>
								<li><a href="">Kids</a>  <span class="count">(16)</span></li>
								<li><a href="">Men</a>  <span class="count">(6)</span>
									<ul class="children">
										<li><a href="">Camera</a> <span class="count">(2)</span></li>
										<li><a href="">Refrigerator</a> <span class="count">(2)</span></li>
										<li><a href="">Smart Phone</a> <span class="count">(2)</span></li>
									</ul>
								</li>
								<li><a href="">Women</a>  <span class="count">(11)</span></li>
							</ul>
						</div>
					</aside>
					<aside class="widget">
						<h3 class="widget-title"><span>Size</span></h3>
						<div class="widget_content">
							<ul>
								<li><a href="">L</a>  <span class="count">(1)</span></li>
								<li><a href="">M</a>  <span class="count">(1)</span></li>
								<li><a href="">S</a>  <span class="count">(1)</span></li>
								<li><a href="">XL</a>  <span class="count">(1)</span></li>
							</ul>
						</div>
					</aside>
					<aside class="widget widget_price_filter">
						<h3 class="widget-title"><span>Filter By Price</span></h3>
						<div class="widget_content">
							<form method="get" action="#">
								<div class="price_slider_wrapper">
									<div id="slider-range" class="price_slider"></div>
									<div class="price_slider_amount">
										<button type="submit" class="button">Filter</button>
										<div class="price_label">
											Price: <input type="text" id="amount">
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</form>
						</div>
					</aside>
					<aside class="widget widget_product_tag_cloud">
						<h3 class="widget-title"><span>Popular Tags</span></h3>
						<div class="widget_content">
							<div class="tagcloud">
								<a href="" title='4 topics' style='font-size: 15.5675675676pt;'>blouse</a>
								<a href="" title='9 topics' style='font-size: 21.2432432432pt;'>electronic</a>
								<a href="" title='10 topics' style='font-size: 22pt;'>fashion</a>
								<a href="" title='3 topics' style='font-size: 13.6756756757pt;'>handbag</a>
								<a href="" title='1 topic' style='font-size: 8pt;'>hat</a>
								<a href="" title='3 topics' style='font-size: 13.6756756757pt;'>laptop</a>
								<a href="" title='2 topics' style='font-size: 11.4054054054pt;'>tablet</a>
								<a href="" title='4 topics' style='font-size: 15.5675675676pt;'>television</a>
							</div>
						</div>
					</aside>
					<aside id="yith-woocompare-widget-4" class="widget yith-woocompare-widget">
						<h3 class="widget-title"><span>Compare</span></h3>
						<div class="widget_content">
							<ul class="products-list" data-lang="en">
								<li>No products to compare</li>
							</ul>
							<a href="" class="clear-all">Clear all</a>
							<a href="" class="compare button">Compare</a>
						</div>
					</aside>
				</div>
				<div id="archive-product" class="col-xs-12 col-md-9">
					<div class="archive-border shop-sidebar left-sidebar">
						<div class="toolbar">
							<div class="view-mode">
								<a href="#" class="grid  active" title="Grid">
									<i class="fa fa-th-large"></i><span>Grid</span>
								</a>
								<a href="#" class="list " title="List">
									<i class="fa fa-th-list"></i><span>List</span>
								</a>
							</div>
							<p class="bootexpert-result-count">Showing all 6 results</p>
							<form class="bootexpert-ordering hidden-xs" method="get">
								<div class="orderby-wrapper">
									<label>Sort By</label>
									<select name="orderby" class="orderby">
										<option value="menu_order" selected='selected'>Default sorting</option>
										<option value="popularity">Sort by popularity</option>
										<option value="rating">Sort by average rating</option>
										<option value="date">Sort by newness</option>
										<option value="price">Sort by price: low to high</option>
										<option value="price-desc">Sort by price: high to low</option>
									</select>
								</div>
							</form>
							<div class="clearfix"></div>
						</div>
						<div class="shop-products row grid-view">
	                        <div class="first item-col col-xs-12 col-sm-4 product">
	                            <div class="product-wrapper">
	                                <div class="list-col4">
	                                    <div class="product-image">
	                                        <a href="" title="Ornare sed consequat">
	                                            <img src="~/Content/images/furniture/product/p3.jpg" class="primary_image" alt="1" />
												<img src="~/Content/images/furniture/product/p3.jpg" class="secondary_image" alt="3" />
	                                        </a>
	                                        <span class="shadows"></span>
	                                        <a href="" class="detail-link quickview">Chi tiết</a>
	                                    </div>
	                                </div>
	                                <div class="list-col8">
										<div class="gridview">
											<h2 class="product-name"><a href="">Aenean sagittis</a></h2>
											<div class="price-box">
												<span class="amount">5.000.000 VNĐ</span>
											</div>
											<div class="actions clearfix">
												<div class="action-buttons">
		                                            <div class="add-cart">
		                                                <p class="product bootexpert add_to_cart_inline">
		                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
		                                                </p>
		                                            </div>
												</div>
											</div>
										</div>
										<div class="listview">
											<h2 class="product-name"><a href="single-product.html">Aenean sagittis</a></h2>
											<div class="ratings">
												<div class="star-rating">
													<span class="width80">
														<strong class="rating">4.00</strong> out of 5
													</span>
												</div>
											</div>
											<div class="price-box"><span class="amount">&pound;75.00</span>
											</div>
											<div class="product-desc">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper.
												Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
											</div>
											<div class="actions clearfix">
												<div class="action-buttons">
													<div class="quickviewbtn">
														<a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Quick View</a>
													</div>
													<div class="add-to-links">
														<div class="yith-wcwl-add-to-wishlist">
															<div>
																<a href="" class="add_to_wishlist">Add to Wishlist</a>
															</div>
															<div class="clear"></div>
															
														</div>
														<div class="clear"></div>
														<div class="bootexpert product compare-button">
															<a href="" class="compare button">Compare</a>
														</div>
													</div>
												</div>
											</div>
										</div>



	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>
	                        <div class="item-col col-xs-12 col-sm-4 product">
	                            <div class="product-wrapper">
	                                <div class="list-col4">
	                                    <div class="product-image">
	                                        <a href="" title="Etiam molestie">
	                                            <img src="~/Content/images/furniture/product/p2.jpg" class="primary_image" alt="3" />
												<img src="~/Content/images/furniture/product/p2.jpg" class="secondary_image" alt="1" />
	                                        </a>
	                                        <span class="shadows"></span>
	                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
	                                    </div>
	                                </div>
	                                <div class="list-col8">
	                                    <div class="gridview">
	                                        <h2 class="product-name"><a href="">Etiam molestie</a></h2>
	                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
	                                        <div class="actions clearfix">
	                                            <div class="add-cart">
	                                                <p class="product bootexpert add_to_cart_inline">
	                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>
	                        <div class="last item-col col-xs-12 col-sm-4 product">
	                            <div class="product-wrapper">
	                                <div class="list-col4">
	                                    <div class="product-image">
	                                        <a href="" title="Aenean sagittis">
	                                            <img src="~/Content/images/furniture/product/p1.jpg" class="primary_image" alt="5" />
												<img src="~/Content/images/furniture/product/p1.jpg" class="secondary_image" alt="6" />
	                                        </a>
	                                        <span class="shadows"></span>
	                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
	                                    </div>
	                                </div>
	                                <div class="list-col8">
	                                    <div class="gridview">
	                                        <h2 class="product-name"><a href="">Aenean sagittis</a></h2>
	                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
	                                        <div class="actions clearfix">
	                                            <div class="add-cart">
	                                                <p class="product bootexpert add_to_cart_inline">
	                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>
	                        <div class="first item-col col-xs-12 col-sm-4 product">
	                            <div class="product-wrapper">
	                                <div class="list-col4">
	                                    <div class="product-image">
	                                        <a href="" title="Vivamus blandit">
	                                            <img src="~/Content/images/furniture/product/p5.jpg" class="primary_image" alt="7" />
												<img src="~/Content/images/furniture/product/p5.jpg" class="secondary_image" alt="6" />
	                                        </a>
	                                        <span class="shadows"></span>
	                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
	                                    </div>
	                                </div>
	                                <div class="list-col8">
	                                    <div class="gridview">
	                                        <h2 class="product-name"><a href="">Vivamus blandit</a></h2>
	                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
	                                        <div class="actions clearfix">
	                                            <div class="add-cart">
	                                                <p class="product bootexpert add_to_cart_inline">
	                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>
	                        <div class="item-col col-xs-12 col-sm-4 product">
	                            <div class="product-wrapper">
	                                <div class="list-col4">
	                                    <div class="product-image">
	                                        <a href="" title="Etiam eu neque">
	                                            <img src="~/Content/images/furniture/product/9.jpg" class="primary_image" alt="8" />
												<img src="~/Content/images/furniture/product/9.jpg" class="secondary_image" alt="7" />
	                                        </a>
	                                        <span class="shadows"></span>
	                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
	                                    </div>
	                                </div>
	                                <div class="list-col8">
	                                    <div class="gridview">
	                                        <h2 class="product-name"><a href="">Etiam eu neque</a></h2>
	                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
	                                        <div class="actions clearfix">
	                                            <div class="add-cart">
	                                                <p class="product bootexpert add_to_cart_inline">
	                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>
	                        <div class="last item-col col-xs-12 col-sm-4 product">
	                            <div class="product-wrapper">
	                                <div class="list-col4">
	                                    <div class="product-image">
	                                        <a href="" title="Elementum felis">
	                                            <img src="~/Content/images/furniture/product/9.jpg" class="primary_image" alt="9" />
												<img src="~/Content/images/furniture/product/10.jpg" class="secondary_image" alt="10" />
	                                        </a>
	                                        <span class="shadows"></span>
	                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
	                                    </div>
	                                </div>
	                                <div class="list-col8">
	                                    <div class="gridview">
	                                        <h2 class="product-name"><a href="">Elementum felis</a></h2>
	                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
	                                        <div class="actions clearfix">
	                                            <div class="add-cart">
	                                                <p class="product bootexpert add_to_cart_inline">
	                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>
						</div>
						<div class="toolbar tb-bottom">
							<div class="view-mode">
								<a href="#" class="grid  active" title="Grid">
									<i class="fa fa-th-large"></i><span>Grid</span>
								</a>
								<a href="#" class="list " title="List">
									<i class="fa fa-th-list"></i><span>List</span>
								</a>
							</div>
							<p class="bootexpert-result-count">Showing 1&ndash;9 of 20 results</p>
							<form class="bootexpert-ordering hidden-xs" method="get">
								<div class="orderby-wrapper">
									<label>Sort By</label>
									<select name="orderby" class="orderby">
										<option value="menu_order" selected='selected'>Default sorting</option>
										<option value="popularity">Sort by popularity</option>
										<option value="rating">Sort by average rating</option>
										<option value="date">Sort by newness</option>
										<option value="price">Sort by price: low to high</option>
										<option value="price-desc">Sort by price: high to low</option>
									</select>
								</div>
							</form>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>