@{
    ViewBag.Title = "Đăng nhập";
}
<div class="page-content login-page">
	<div class="container">
		<article class="page type-page status-publish hentry">
			<div class="entry-content">
				<div class="phm_row hasteck_row phm_row-fluid">
					<div class="row-container">
						<div class="parvez_column parvez_column_container parvez_col-sm-12">
							<div class="parvez_wrapper">
								<div class="parvez_text_column parvez_content_element ">
									<div class="parvez_wrapper">
										<div class="bootexpert">
											<div class="customer_login" id="customer_login">
												<div class="row">
													<div class="col-xs-12 col-md-6 col-md-offset-3">
														<form method="post" class="login">
															<div class="form-fields">
																<h2><i class="fa fa-lock"></i> Đăng nhập</h2>
																<p class="form-row form-row-wide">
																	<label for="username">Tên đăng nhập <span class="required">*</span></label>
																	<input type="text" class="input-text" name="username" id="username" value="" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="password">Mật khẩu <span class="required">*</span></label>
																	<input class="input-text" type="password" name="password" id="password" />
																</p>
															</div>
															<div class="form-action">
																<p class="lost_password">
																	<a href="#">Quên mật khẩu?</a>
																</p>
																<input type="submit" class="button" name="login" value="Đăng nhập" />
															</div>
														</form>
														<div class="second_box">
															<p>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
