@{
    ViewBag.Title = "Đăng ký";
}
<div class="page-content login-page">
	<div class="container">
		<article class="page type-page status-publish hentry">
			<div class="entry-content">
				<div class="phm_row hasteck_row phm_row-fluid">
					<div class="row-container">
						<div class="parvez_column parvez_column_container parvez_col-sm-12">
							<div class="parvez_wrapper">
								<div class="parvez_text_column parvez_content_element ">
									<div class="parvez_wrapper">
										<div class="bootexpert">
											<div class="customer_login" id="customer_login">
												<div class="row">
													<div class="col-xs-12 col-md-6 col-md-offset-3">
														<form method="post" class="register">
															<div class="form-fields">
																<h2><i class="fa fa-lock"></i> Đăng ký tài khoản</h2>
																<p class="form-row form-row-wide">
																	<label for="username">Tên đăng nhập <span class="required">*</span></label>
																	<input type="text" class="input-text" name="username" id="username" value="" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="password">Mật khẩu <span class="required">*</span></label>
																	<input class="input-text" type="password" name="password" id="password" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="confirm-password">Xác nhận mật khẩu <span class="required">*</span></label>
																	<input class="input-text" type="confirm-password" name="confirm-password" id="confirm-password" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="fullname">Họ và tên <span class="required">*</span></label>
																	<input type="text" class="input-text" name="fullname" id="fullname" value="" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="email">Email <span class="required">*</span></label>
																	<input type="text" class="input-text" name="email" id="email" value="" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="address">Điạ chỉ</label>
																	<input type="text" class="input-text" name="address" id="address" value="" />
																</p>
																<p class="form-row form-row-wide">
																	<label for="phone">Điện thoại</label>
																	<input type="text" class="input-text" name="phone" id="phone" value="" />
																</p>
															</div>
															<div class="form-action">
																<input type="submit" class="button btn-register" name="register" value="Đăng ký" />
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>