<!-- Header -->
<div class="header-container furniture2 skin2">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-inner clearfix">
                <div class="top-menu widget">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="nav_menu">
                            <li><a href="#">Tel: 08.3836 2260</a></li>
                            <li><a href="#">Hotline: 0902 820 235</a></li>
                            <li><a href="/account/login"><b>Đăng nhập</b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="row">
                    <div class="col-xs-12 col-md-3" id="logo">
                        <div class="logo">
                            <a href="#" title="EPSI" rel="home"><img src="~/Content/images/logo/epsi.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9" id="search-box">
                        <div class="widget bootexpert widget_shopping_cart">
                            <div class="widget_shopping_cart_content">
                                <div class="cart-toggler">
                                    <a href="#">
                                        <span class="mini-cart-link">
                                            <span class="cart-title" id="cart-total-header">
                                                Giỏ hàng: (<span class="cart-quantity">0</span>)
                                            </span>
                                        </span>
                                        <span class="cart-total" id="cart-total-price"><span class="amount">0 VNĐ</span></span>
                                    </a>
                                </div>
                                <div class="mini_cart_content">
                                    <div class="mini_cart_inner">
                                        <div class="mini_cart_arrow"></div>
                                        <ul class="cart_list" id="cart-item">
                                            @*<li>
                                                <a href="" class="product-image">
                                                    <img alt="7" class="attachment-shop_thumbnail" src="~/Content/images/furniture/product/7-185x185.jpg"><span class="quantity">1</span>
                                                </a>
                                                <div class="product-details">
                                                    <a title="Remove this item" class="remove" href=""><i class="fa fa-times-circle"></i></a>
                                                    <a href="" class="product-name">Đèn thả QPG304 (cam)</a>
                                                    <span class="quantity"><span class="amount">1.472.101 VNĐ</span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="" class="product-image">
                                                    <img alt="1" class="attachment-shop_thumbnail" src="~/Content/images/furniture/product/1-185x185.jpg"><span class="quantity">1</span>
                                                </a>
                                                <div class="product-details">
                                                    <a title="Remove this item" class="remove" href=""><i class="fa fa-times-circle"></i></a>
                                                    <a href="" class="product-name">Đèn Trẻ Em</a>
                                                    <span class="quantity"><span class="amount">933.000 VNĐ</span></span>
                                                </div>
                                            </li>*@
                                        </ul><!-- end product list -->
                                        <p class="total" id="total-price-footer">Tổng: <span class="amount" >0 VNĐ</span></p>
                                        <p class="buttons">
                                            <a class="button checkout wc-forward" href="#">Thanh toán</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-search">
                            <div class="widget bootexpert widget_product_search">

                                <form id="searchform" action="#">
                                    <div>
                                        <input type="text" value="" name="s" id="ws" placeholder="Tìm kiếm sản phẩm ..." />
                                        <button class="btn btn-primary" type="submit" id="wsearchsubmit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        @{Html.RenderAction("TopMenu", "Home");}
        <!-- End Menu -->
    </div>
    <!-- .header -->
    <div class="clearfix"></div>
</div>
<!-- End Header -->
