<form id="searchform" action="/san-pham">
    <div>
        <input type="text" value="" name="s" id="ws" placeholder="Tìm kiếm sản phẩm ..." />
        <button class="btn btn-primary" type="submit" id="wsearchsubmit"><i class="fa fa-search"></i></button>
    </div>
</form>