<form action="/san-pham" id="searchform" class="custom-search-form">
    <input type="text" class="search" value="" name="s" id="ws" placeholder="Tìm kiếm sản phẩm ..."">
    <button class="button btn-search" type="submit" id="wsearchsubmit"><i class="fa fa-search"></i></button>
</form>