<div class="nav-container">
    <div class="container">
        <div class="nav-inner clearfix">
            <div class="horizontal-menu">
                <div class="visible-large">
                    <div id="saharan_mega_main_menu" class="dropdowns_trigger-hover dropdowns_animation-anim_5">
                        <div class="menu_holder">
                            <div class="mmm_fullwidth_container"></div>
                            <nav class="menu_inner">
                                <ul>
                                    <li class="active-menu-item">
                                        <a href="#" class="item_link ">
                                            <span class="link_content">
                                                <span class="link_text">Trang chủ</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="multicolumn_dropdown drop_to_right children-menu">
                                        <a href="#" class="item_link">
                                            <span class="link_content">
                                                <span class="link_text">Sản phẩm</span>
                                            </span>
                                        </a>
                                        <ul class="mega_dropdown">
                                            <li class="default_dropdown drop_to_right children-menu" style="width:50%;">
                                                <a href="#" class="item_link">
                                                    <span class="link_content">
                                                        <span class="link_text">Đèn Philips</span>
                                                    </span>
                                                </a>
                                                <ul class="mega_dropdown">
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Đèn thả</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Sidebar Left</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Sidebar Right</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">List View</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="default_dropdown drop_to_right children-menu" style="width:50%;">
                                                <a href="#" class="item_link ">
                                                    <span class="link_content">
                                                        <span class="link_text">Đèn chiếu sáng cơ bản</span>
                                                    </span>
                                                </a>
                                                <ul class="mega_dropdown">
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Phòng khách</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Phòng ngủ</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Bếp</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="default_dropdown drop_to_right children-menu">
                                                        <a href="#" class="item_link ">
                                                            <span class="link_content">
                                                                <span class="link_text">Ngoài trời</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="item_link ">
                                            <span class="link_content">
                                                <span class="link_text">Giới thiệu</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item_link ">
                                            <span class="link_content">
                                                <span class="link_text">Showroom</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item_link ">
                                            <span class="link_content">
                                                <span class="link_text">Dự án</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item_link ">
                                            <span class="link_content">
                                                <span class="link_text">Tin tức</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item_link ">
                                            <span class="link_content">
                                                <span class="link_text">Liên hệ</span>
                                            </span>
                                        </a>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="visible-small mobile-menu">
                    <div class="nav-container">
                        <div class="mbmenu-toggler">Menu<span class="mbmenu-icon"></span></div>
                        <nav class="mobile-menu-container">
                            <ul id="menu-horizontal-menu" class="nav-menu">
                                <li class="first">
                                    <a href="index-28.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index-29.html">Home Furniture 5</a></li>
                                        <li><a href="index-30.html">Home Furniture 6</a></li>
                                    </ul>
                                </li>
                                <li class="children-menu">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="children-menu">
                                            <a href="#">Shop Layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Full Width</a></li>
                                                <li><a href="#">Sidebar Left</a></li>
                                                <li><a href="#">Sidebar Right</a></li>
                                                <li><a href="#">List View</a></li>
                                            </ul>
                                        </li>
                                        <li class="children-menu">
                                            <a href="#">Shop Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Category</a></li>
                                                <li><a href="#">My Account</a></li>
                                                <li><a href="#">Shopping Cart</a></li>
                                                <li><a href="#">Checkout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="children-menu">
                                    <a href="#">Product Types</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Simple Product</a></li>
                                        <li><a href="#">Variable Product</a></li>
                                        <li><a href="#">Grouped Product</a></li>
                                        <li><a href="#">Downloadable</a></li>
                                        <li><a href="#">External Product</a></li>
                                        <li><a href="#">Virtual Product</a></li>
                                    </ul>
                                </li>
                                <li class="children-menu">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li class="children-menu">
                                            <a href="#">Blog Layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">None Sidebar</a></li>
                                                <li><a href="#">Sidebar Left</a></li>
                                                <li><a href="#">Sidebar Right</a></li>
                                            </ul>
                                        </li>
                                        <li class="children-menu">
                                            <a href="#">Blog Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Author</a></li>
                                                <li><a href="#">Archive</a></li>
                                                <li><a href="#">Category</a></li>
                                                <li><a href="#">Blog Tag</a></li>
                                            </ul>
                                        </li>
                                        <li class="children-menu">
                                            <a href="#">Post Formats</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Image Format</a></li>
                                                <li><a href="#">Gallery Format</a></li>
                                                <li><a href="blog-single-post-audio.html">Audio Format</a></li>
                                                <li><a href="#">Video Format</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="children-menu">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="faqs">Frequently Questions</a></li>
                                        <li><a href="#">Sample Page</a></li>
                                        <li><a href="#">Error 404</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu -->
            </div>
        </div>
    </div>
</div>