@model IEnumerable<epsi.Models.Category>
<aside class="widget">
    <h3 class="widget-title">
        <span>Danh mục sản phẩm</span>
    </h3>
    <div class="widget_content">
        <ul class="product-categories">
            @foreach (var item in Model)
            {
                <li>
                    <a href="/san-pham/@Url.Content(item.PageURL)" class="title">@item.Name</a>  @{ Html.RenderAction("CountProductbyCate", "Product", new { cateId = item.CategoryId });}
                    <ul class="children">
                        @{ Html.RenderAction("SidebarCategoryChild", "Product",new { parentId=item.CategoryId});}
                    </ul>
                </li>
            }
        </ul>
    </div>
</aside>

