@model IEnumerable<epsi.Models.Category>
    @foreach (var item in Model)
    {
        <li><a href="/san-pham/@Url.Content(item.PageURL)">@item.Name</a> @{ Html.RenderAction("CountProductbyCate", "Product", new { cateId = item.CategoryId });}</li>

    }
