@using epsi.Models;
@{
    ViewBag.Title = "QuickLink";

}
<div class="form-group">
    <a href="/bo/QuickLink/create">
        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add new item</button>
    </a>
</div>
@(Html.Kendo().Grid<QuickLink>()
    .Name("quicklinkGrid")
    .Sortable()
    .Sortable()
    .Filterable()
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.QuickLinkId))
        .Read(read => read.Action("Get", "QuickLink"))
        .Destroy(destroy => destroy.Action("Delete", "QuickLink"))
    )
    .Columns(columns =>
    {
        columns.Bound(p => p.QuickLinkId).Title("Id").Width(60);
        columns.Bound(p => p.Title).Width(160);
        columns.Bound(p => p.Description).Width(430);
        columns.Bound(p => p.Tag);
        columns.Bound(p => p.Order);
        columns.Bound(p => p.Link);
        columns.Bound(p => p.IsDeleted).Title("Active").Width(50);
        columns.Bound(u => u.QuickLinkId).Title("").ClientTemplate("<a class='k-button' href='" + Url.Action("edit", "QuickLink") + "/#=QuickLinkId#'><span class='k-icon k-edit'></span>Edit</a>");
        columns.Command(cmd =>
        {

            cmd.Destroy();
        });


    })


)
