
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="entry-header">
    <div class="container">
        <h1 class="entry-title">Giỏ hàng của bạn</h1>
    </div>
</header>
<div class="page-content">
    <div class="container">
        <article class="page type-page status-publish hentry">
            <div class="entry-content">
                <div class="phm_row hasteck_row phm_row-fluid">
                    <div class="row-container">
                        <div class="parvez_column parvez_column_container parvez_col-sm-12">
                            <div class="parvez_wrapper">
                                <div class="parvez_text_column parvez_content_element ">
                                    <div class="parvez_wrapper">
                                        <div class="bootexpert">
                                            <form action="#" method="post">
                                                <div class="table-responsive">
                                                    <table class="shop_table cart">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-thumbnail"></th>
                                                                <th class="product-name">Sản phẩm</th>
                                                                <th class="product-price">Đơn giá</th>
                                                                <th class="product-quantity">Số lượng</th>
                                                                <th class="product-subtotal">Thành tiền</th>
                                                                <th class="product-remove"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody-cart-item">
                                
                                                            <tr class="cart-total">
                                                                <td colspan="4">
                                                                    <h2>Tổng cộng</h2>
                                                                </td>
                                                                <td class="order-total" colspan="2">
                                                                    <span class="amount">0 VNĐ</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="actions">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="buttons-cart">
                                                                <a class="button continue" href="/san-pham">Tiếp tục mua hàng</a>
                                                                <a class="button" name="checkout" href="@Url.Action("Checkout","ShoppingCart")">Thanh toán</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

@section scripts {
<script type="text/javascript">

    function shoppingcart() {
        var $cartItem = $('#tbody-cart-item');
        var totalprice = 0;
        $cartItem.html("");
        Object.keys(localStorage).forEach(function (key) {
            var itemlocal = JSON.parse(localStorage.getItem(key))
            var total = 0;
            total = itemlocal.price * itemlocal.count;
            totalprice += total
            var sprice = numeral(itemlocal.price).format('0,0');
            var stotal = numeral(total).format('0,0');
            var cartappend = '<tr class="cart_item">' +
                                            '<td class="product-thumbnail">' +
                                                '<a href="">' +
                                                '<img src="' + itemlocal.img.replace('~', '') + '" class="attachment-shop_thumbnail" alt="' + itemlocal.name + '" />' +
                                                '</a>' +
                                                '</td>' +
                                                '<td class="product-name"><a href="">' + itemlocal.name + '</a></td>' +
                                                '<td class="product-price"><span class="amount">' + sprice + ' VNĐ</span></td>' +
                                                '<td class="product-quantity">' +
                                                '<div class="quantity">' +
                                                '<input type="number" name="qty" id="inputQty' + key + '" value="' + itemlocal.count + '" title="Qty" class="input-text qty text inputkey' + key + '" size="4" />' +
                                                '</div>' +
                                                '</td>' +
                                                '<td class="product-subtotal"><span class="amount">' + stotal + ' VNĐ</span></td>' +
                                                '<td class="product-remove">' +
                                                '<a onclick="deleteshoppingcart(' + key + ');" class="remove" title="Xoá sản phẩm"><i class="fa fa-times"></i></a>' +
                                            '</td>' +
                                        '</tr>';
            $cartItem.append(cartappend);

            $('.product-quantity').find('.inputkey' + key).focusout(function () {
                var qty = $('#inputQty' + key).val();
                var itemlocal = JSON.parse(localStorage.getItem(key))
                itemlocal.count = qty;
                localStorage.setItem(key, JSON.stringify(itemlocal));
                shoppingcart();
                shoppingcartmenu();
            })
        })
        var stotalprice = numeral(totalprice).format('0,0');
        $cartItem.append('<tr class="cart-total">' +
                            '<td colspan="4">' +
                                '<h2>Tổng cộng</h2>' +
                            '</td>' +
                            '<td class="order-total" colspan="2">' +
                                '<span class="amount">' + stotalprice + ' VNĐ</span>' +
                            '</td>' +
                        '</tr>')
    }

        function deleteshoppingcart(key) {
            var ok = confirm("Bạn có chắc muốn xóa sản phẩm này?");
            if (ok) {
                localStorage.removeItem(key);
                shoppingcart();
                shoppingcartmenu();
            }
        }
        $(function () {
            var con = $('div'), storageCount = localStorage.length;
            if (storageCount) {
        	    shoppingcart();
            } else {
                location.href = '/san-pham';
            }
        });
</script>

    }


