@{
    ViewBag.Title = "Tin tức";
}
<h1 class="page-title">Tin tức</h1>
<div class="blog-content-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="page-content blog-page blog-nosidebar">
					<article class="post format-standard category-image">
						<div class="post-thumbnail">
							<a href="">
								<img src="~/Content/images/furniture/blog/4-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
							</a>
						</div>
						<div class="postinfo-wrapper">
							<div class="post-info">
								<header class="entry-header">
									<h2 class="entry-title">
										<a href="#">Proin faucibus massa vel tristique</a>
									</h2>
								</header>
								<footer class="entry-meta-small">
									<i class="fa fa-clock-o"></i>05:12 AM MARCH 10, 2017</span>
								</footer>
								<div class="entry-summary">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet pulvinar libero ac scelerisque. Curabitur ut commodo elit, eu porttitor leo. Donec et pharetra lorem. Vestibulum vehicula doloret metus fringilla elementum. Vestibulum aliquet magna maximus, hendrerit dui eu, euismod sem. Aenean nisi sem, aliquam vitae dapibus ut, interdum in</p>
								</div>
								<a class="readmore" href="#">Xem thêm<i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</article>
					<article class="post format-standard category-image">
						<div class="post-thumbnail">
							<a href="">
								<img src="~/Content/images/furniture/blog/4-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
							</a>
						</div>
						<div class="postinfo-wrapper ">
							<div class="post-info">
								<header class="entry-header">
									<h2 class="entry-title">
										<a href="#">Proin faucibus massa vel tristique</a>
									</h2>
								</header>
								<footer class="entry-meta-small">
									<i class="fa fa-clock-o"></i>05:12 AM MARCH 10, 2017</span>
								</footer>
								<div class="entry-summary">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet pulvinar libero ac scelerisque. Curabitur ut commodo elit, eu porttitor leo. Donec et pharetra lorem. Vestibulum vehicula doloret metus fringilla elementum. Vestibulum aliquet magna maximus, hendrerit dui eu, euismod sem. Aenean nisi sem, aliquam vitae dapibus ut, interdum in</p>
								</div>
								<a class="readmore" href="#">Xem thêm<i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</article>
					<article class="post format-standard category-image">
						<div class="post-thumbnail">
							<a href="">
								<img src="~/Content/images/furniture/blog/4-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
							</a>
						</div>
						<div class="postinfo-wrapper ">
							<div class="post-info">
								<header class="entry-header">
									<h2 class="entry-title">
										<a href="#">Proin faucibus massa vel tristique</a>
									</h2>
								</header>
								<footer class="entry-meta-small">
									<i class="fa fa-clock-o"></i>05:12 AM MARCH 10, 2017</span>
								</footer>
								<div class="entry-summary">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet pulvinar libero ac scelerisque. Curabitur ut commodo elit, eu porttitor leo. Donec et pharetra lorem. Vestibulum vehicula doloret metus fringilla elementum. Vestibulum aliquet magna maximus, hendrerit dui eu, euismod sem. Aenean nisi sem, aliquam vitae dapibus ut, interdum in</p>
								</div>
								<a class="readmore" href="#">Xem thêm<i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</article>
					<article class="post format-standard category-image">
						<div class="post-thumbnail">
							<a href="">
								<img src="~/Content/images/furniture/blog/4-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
							</a>
						</div>
						<div class="postinfo-wrapper ">
							<div class="post-info">
								<header class="entry-header">
									<h2 class="entry-title">
										<a href="#">Proin faucibus massa vel tristique</a>
									</h2>
								</header>
								<footer class="entry-meta-small">
									<i class="fa fa-clock-o"></i>05:12 AM MARCH 10, 2017</span>
								</footer>
								<div class="entry-summary">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet pulvinar libero ac scelerisque. Curabitur ut commodo elit, eu porttitor leo. Donec et pharetra lorem. Vestibulum vehicula doloret metus fringilla elementum. Vestibulum aliquet magna maximus, hendrerit dui eu, euismod sem. Aenean nisi sem, aliquam vitae dapibus ut, interdum in</p>
								</div>
								<a class="readmore" href="#">Xem thêm<i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</article>
					<div class="pagination">
						<span class='page-numbers current'>1</span>
						<a class="page-numbers" href="">2</a>
						<a class="next page-numbers" href="#">></a>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>