@{
    ViewBag.Title = "Tin tức";
}
<div class="blog_header">Tin tức</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="page-content blog-page blog-nosidebar">
				<article class="post format-standard category-image">
					<div class="post-thumbnail">
						<a href="">
							<img src="~/Content/images/furniture/blog/blog-1-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
						</a>
					</div>
					<div class="postinfo-wrapper ">
						<div class="post-info">
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="single-blog.html">Proin faucibus massa vel tristique</a>
								</h2>
							</header>
							<footer class="entry-meta-small">
								<i class="fa fa-clock-o"></i>25 Jun / Posted by <span class="author vcard"><a class="url fn n" href="" title="View all posts by admin" rel="author">admin</a></span>	
							</footer>
							<div class="entry-summary">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet pulvinar libero ac scelerisque. Curabitur ut commodo elit, eu porttitor leo. Donec et pharetra lorem. Vestibulum vehicula doloret metus fringilla elementum. Vestibulum aliquet magna maximus, hendrerit dui eu, euismod sem. Aenean nisi sem, aliquam vitae dapibus ut, interdum in</p>
							</div>
							<a class="readmore" href="single-blog.html">read more<i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</article>
				<article class="post format-standard category-image">
					<div class="post-thumbnail">
						<a href="">
							<img src="~/Content/images/furniture/blog/blog-1-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
						</a>
					</div>
					<div class="postinfo-wrapper ">
						<div class="post-info">
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="single-blog.html" rel="bookmark">Blog image post layout</a>
								</h2>
							</header>
							<footer class="entry-meta-small">
								<i class="fa fa-clock-o"></i>10 Mar / Posted by <span class="author vcard"><a class="url fn n" href="" title="View all posts by admin" rel="author">admin</a></span>	
							</footer>
							<div class="entry-summary">
								<p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum</p>
							</div>
							<a class="readmore" href="single-blog.html">read more<i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</article>
				<article class="post format-standard category-image">
					<div class="post-thumbnail">
						<a href="">
							<img src="~/Content/images/furniture/blog/blog-1-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
						</a>
					</div>
					<div class="postinfo-wrapper ">
						<div class="post-info">
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="single-blog.html" rel="bookmark">Post in Gallery format</a>
								</h2>
							</header>
							<footer class="entry-meta-small">
								<i class="fa fa-clock-o"></i>01 Dec / Posted by <span class="author vcard">
									<a class="url fn n" href="" title="View all posts by admin" rel="author">admin</a>
								</span>	
							</footer>
							<div class="entry-summary">
								<p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum</p>
							</div>
							 <a class="readmore" href="single-blog.html">read more<i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</article>
				<article class="post format-standard category-image">
					<div class="post-thumbnail">
						<a href="">
							<img src="~/Content/images/furniture/blog/blog-1-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
						</a>
					</div>
					<div class="postinfo-wrapper ">
						<div class="post-info">
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="single-blog.html">Single post in Audio format</a>
								</h2>
							</header>
							<footer class="entry-meta-small">
								<i class="fa fa-clock-o"></i>01 Dec / Posted by <span class="author vcard">
									<a class="url fn n" href="" title="View all posts by admin" rel="author">admin</a>
								</span>	
							</footer>

							<div class="entry-summary">
								<p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum</p>
							</div>
							<a class="readmore" href="single-blog.html">read more<i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</article>
				<article class="post format-standard category-image">
					<div class="post-thumbnail">
						<a href="">
							<img src="~/Content/images/furniture/blog/blog-1-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
						</a>
					</div>
					<div class="postinfo-wrapper ">
						<div class="post-info">
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="single-blog.html" rel="bookmark">Post in Video format</a>
								</h2>
							</header>
							<footer class="entry-meta-small">
								<i class="fa fa-clock-o"></i>01 Dec / Posted by <span class="author vcard"><a class="url fn n" href="" title="View all posts by admin" rel="author">admin</a></span>	
							</footer>
							<div class="entry-summary">
								<p>Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse potenti. Proin consectetur aliquam odio nec fringilla. Sed interdum at justo in efficitur.</p>
							</div>
							<a class="readmore" href="single-blog.html">read more<i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</article>
				<article class="post format-standard category-image">
					<div class="post-thumbnail">
						<a href="">
							<img src="~/Content/images/furniture/blog/blog-1-500x500.jpg" class="attachment-road-post-thumb" alt="blog-1" />
						</a>
					</div>
					<div class="postinfo-wrapper ">
						<div class="post-info">
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="single-blog.html" rel="bookmark">Maecenas ultricies sed odio</a>
								</h2>
							</header>
							<footer class="entry-meta-small">
								<i class="fa fa-clock-o"></i>12 Nov / Posted by <span class="author vcard"><a class="url fn n" href="" title="View all posts by admin" rel="author">admin</a></span>	
							</footer>
							<div class="entry-summary">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla purus, condimentum eget imperdiet a, vulputate in lectus. Sed elementum, diam viverra maximus faucibus, nulla dui accumsan nulla, in euismod justo felis eget purus. Quisque egestas, velit vitae tempus viverra, metus turpis faucibus dolor, nec elementum lacus quam ac est.</p>
							</div>
							<a class="readmore" href="single-blog.html">read more<i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</article>
				<div class="pagination">
					<span class='page-numbers current'>1</span>
					<a class="page-numbers" href="">2</a>
					<a class="next page-numbers" href="#">Next</a>	
				</div>
			</div>
		</div>
	</div>
</div>