@{
    ViewBag.Title = "Liên hệ";
}
<div class="blog_header">Liên hệ</div>
<div class="contact-fom-info">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-content contact-page">
					<article>
						<div class="entry-content">
							<div class="phm_row hasteck_row phm_row-fluid">
								<div class="row-container">
									<div class="parvez_column parvez_column_container parvez_col-sm-6">
										<div class="parvez_wrapper">
											<div class="parvez_text_column parvez_content_element ">
												<div class="parvez_wrapper">
													<h2>Liên hệ với chúng tôi</h2>
													<div class="wpcf7">
														<form action="#" method="post" class="wpcf7-form">
															<div class="contact-input">
																<span class="your-name">
																	<input type="text" name="your-name" value="" size="40" class="wpcf7-text" placeholder="Họ tên *" />
																</span>
																<span class="your-email">
																	<input type="email" name="your-email" value="" size="40" class="wpcf7-text wpcf7-email" placeholder="Email *" />
																</span>
																<span class="your-subject">
																	<input type="text" name="your-subject" value="" size="40" class="wpcf7-text" placeholder="Tiêu đề" />
																</span>
															</div>
															<div class="contact-message">
																<span class="your-message">
																	<textarea name="your-message" cols="40" rows="10" class="wpcf7-textarea" placeholder="Nội dung"></textarea>
																</span>
															</div>
															<div class="contact-submit">
																<input type="submit" value="Gửi" class="wpcf7-submit button" />
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="parvez_column parvez_column_container parvez_col-sm-6">
										<div class="parvez_wrapper">
											<div class="map-wrapper">
												<div id="map"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>

		<!-- Google Map js -->
<script>

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.

      function initMap() {
         var uluru = { lat: 10.726052, lng: 106.691866 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });

        var contentString = '<div>CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ PHÁT TRIỂN EPSI</div><div>44 - 46 Đường Số 12, Tổ 2, KP 1, Biệt Thự Ven Sông, P.Tân Phong, Q.7, TP.HCM</div>'

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
</script>
<script type='text/javascript' src="http://maps.google.com/maps/api/js?key=AIzaSyDQ0pDRDKSyAO4lm10ttEXa2_uoZmWQzHc&sensor=false&callback=initMap"></script>



