<div class="phm_row hasteck_row phm_row-fluid products-carousel2">
    <div class="row-container">
        <div class="parvez_column parvez_column_container parvez_col-sm-12">
            <div class="parvez_wrapper">
                <div class="parvez_text_column parvez_content_element ">
                    <div class="parvez_wrapper">
                        <h3>SẢN PHẨM MỚI</h3>
                    </div>
                </div>
                <div class="bootexpert columns-4">
                    <div id="shop-products-4-1" class="shop-products row grid-view">
                        <div class="first item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Ornare sed consequat">
                                            <img src="~/Content/images/furniture/product/p3.jpg" class="primary_image" alt="1" />
											<img src="~/Content/images/furniture/product/p3.jpg" class="secondary_image" alt="3" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Ornare sed consequat</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Etiam molestie">
                                            <img src="~/Content/images/furniture/product/p2.jpg" class="primary_image" alt="3" />
											<img src="~/Content/images/furniture/product/p2.jpg" class="secondary_image" alt="1" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Etiam molestie</a></h2>
                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Aenean sagittis">
                                            <img src="~/Content/images/furniture/product/p1.jpg" class="primary_image" alt="5" />
											<img src="~/Content/images/furniture/product/p1.jpg" class="secondary_image" alt="6" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Aenean sagittis</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="last item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Vivamus blandit">
                                            <img src="~/Content/images/furniture/product/p5.jpg" class="primary_image" alt="7" />
											<img src="~/Content/images/furniture/product/p5.jpg" class="secondary_image" alt="6" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Vivamus blandit</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="first item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Etiam eu neque">
                                            <img src="~/Content/images/furniture/product/9.jpg" class="primary_image" alt="8" />
											<img src="~/Content/images/furniture/product/9.jpg" class="secondary_image" alt="7" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Etiam eu neque</a></h2>
                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Elementum felis">
                                            <img src="~/Content/images/furniture/product/9.jpg" class="primary_image" alt="9" />
											<img src="~/Content/images/furniture/product/10.jpg" class="secondary_image" alt="10" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Elementum felis</a></h2>
                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Aenean eu tristique">
                                            <img src="~/Content/images/furniture/product/10.jpg" class="primary_image" alt="10" />
											<img src="~/Content/images/furniture/product/13.jpg" class="secondary_image" alt="13" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Aenean eu tristique</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="last item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Feugiat justo lacinia">
                                            <img src="~/Content/images/furniture/product/11.jpg" class="primary_image" alt="11" />
											<img src="~/Content/images/furniture/product/13.jpg" class="secondary_image" alt="13" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Feugiat justo lacinia</a></h2>
                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="first item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Eleifend arcu">
                                            <img src="~/Content/images/furniture/product/13.jpg" class="primary_image" alt="13" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>

                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Eleifend arcu</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Congue lectus">
                                            <img src="~/Content/images/furniture/product/14.jpg" class="primary_image" alt="14" />
											<img src="~/Content/images/furniture/product/10.jpg" class="secondary_image" alt="10" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>

                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Congue lectus</a></h2>
                                        <div class="price-box"><ins><span class="amount">5.000.000 VNĐ</span></ins></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Natoque penatibus">
                                            <img src="~/Content/images/furniture/product/18.jpg" class="primary_image" alt="18" />
											<img src="~/Content/images/furniture/product/16.jpg" class="secondary_image" alt="16" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Natoque penatibus</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="last item-col col-xs-12 col-sm-3">
                            <div class="product-wrapper">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="" title="Buscipit at magna">
                                            <img src="~/Content/images/furniture/product/9.jpg" class="primary_image" alt="17" />
											<img src="~/Content/images/furniture/product/9.jpg" class="secondary_image" alt="15" />
                                        </a>
                                        <span class="shadows"></span>
                                        <a data-target="#productModal" data-toggle="modal" href="" class="detail-link quickview">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="gridview">
                                        <h2 class="product-name"><a href="">Buscipit at magna</a></h2>
                                        <div class="price-box"><span class="amount">5.000.000 VNĐ</span></div>
                                        <div class="actions clearfix">
                                            <div class="add-cart">
                                                <p class="product bootexpert add_to_cart_inline">
                                                    <a href="" class="button add_to_cart_button">Thêm vào giỏ</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
